# Various IDEs and Editors
.vscode/
.idea/
**/*~
.github/workflows
.venv/
# Mac OSX temporary files
.DS_Store
**/.DS_Store
**/.data.br

# dfx temporary files
.dfx/

# rust
target/

# frontend code
node_modules/
dist/
.svelte-kit/

# environment variables
.env
.env.local
.mops
/src/frontend/oisy-wallet

# Ignore all .data.br files recursively
**/*.data.br

# Ignore specific large file in Cosmicrafts2022
src/frontend/public/Cosmicrafts2022/CosmicraftsBeta.data.br

