(spawn_rate:0.1,spawn_amount:10,emission_shape:Circle(0.0),lifetime:(1.0,0.32),linear_speed:Some((100.0,0.67)),linear_acceleration:Some((8.0,0.5)),direction:Some(((1.0,1.0),1.0)),angular_speed:Some((22.0,0.45)),angular_acceleration:Some((41.0,0.53)),scale:Some((1.0,0.52)),color:None,gravity_direction:Some(((-0.4,0.35),0.4)),gravity_speed:Some((45.0,0.38)),linear_damp:Some((6.0,0.0)),angular_damp:Some((48.0,0.48)),scale_curve:None,color_curve:None)