(spawn_rate:0.35,spawn_amount:1,emission_shape:Circle(375.0),lifetime:(1.0,0.37),linear_speed:Some((100.0,0.67)),linear_acceleration:Some((8.0,0.5)),direction:Some(((1.0,1.0),1.0)),angular_speed:Some((65.0,1.0)),angular_acceleration:Some((220.0,1.0)),scale:Some((31.0,0.78)),color:None,gravity_direction:Some(((-0.2,0.0),1.0)),gravity_speed:Some((290.0,0.95)),linear_damp:Some((6.0,0.0)),angular_damp:Some((300.0,1.0)),scale_curve:Some((points:[(0.0,0.0,Some(CubicIn)),(31.0,0.27,Some(QuarticIn)),(71.0,0.27,Some(QuadraticIn)),(0.0,0.45,Some(QuadraticOut)),(100.0,0.65,Some(QuadraticInOut)),(10.0,0.78,Some(QuadraticOut)),(0.0,1.0,Some(QuarticIn))])),color_curve:None)